#
####### example-requirements.txt #######
#
###### Requirements without Version Specifiers ######
re
cv2
numpy
colorsys
networkx
textwrap
#
###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
matplotlib >= 1.5
#

